
.wrap{
	text-align: center;
	background: #EEE;
	padding: 10px;
}
			
.wrap .left{
	float: left;
	text-decoration: none;
}
			
.wrap .center{
	text-decoration: none;
}

.wrap .right{
	float: right;
	text-decoration: none;
}
